flows.json
[{"id":"68c48bee.e7d6d4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c50a614f.bd70d","type":"ibmiot in","z":"68c48bee.e7d6d4","authentication":"apiKey","apiKey":"bbb894d5.08ceb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":40,"wires":[["77c665e8.f0541c","5dabc611.4f6cc8","f5ec276e.c2ccf8"]]},{"id":"77c665e8.f0541c","type":"debug","z":"68c48bee.e7d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"5dabc611.4f6cc8","type":"function","z":"68c48bee.e7d6d4","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":20,"wires":[["77c665e8.f0541c"]]},{"id":"f5ec276e.c2ccf8","type":"function","z":"68c48bee.e7d6d4","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["77c665e8.f0541c"]]},{"id":"202eb2a4.33736e","type":"watson-text-to-speech","z":"68c48bee.e7d6d4","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"-rK3KlPqBKWgDhP3bOBnSfBCGAZke8Liaz7Z0_WvZnW0","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/a415940b-a4a0-4511-92b5-5eaad7e0836b","x":880,"y":500,"wires":[["31dd4ad0.487f76"]]},{"id":"7bb58de8.6800f4","type":"play audio","z":"68c48bee.e7d6d4","name":"","voice":"1","x":910,"y":580,"wires":[]},{"id":"1f31e685.2d2739","type":"watson-speech-to-text","z":"68c48bee.e7d6d4","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"oRwmnTNv5GDo_BNVn6dwPkaZycN0gB87eP7GGaTmfD8A","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/b2279d0d-3c1d-47f1-a7fc-69e53a09fb4b","x":640,"y":180,"wires":[["2216bc1f.341444","fae903fd.986ec"]]},{"id":"5dde327.76180cc","type":"microphone","z":"68c48bee.e7d6d4","name":"","x":450,"y":180,"wires":[["1f31e685.2d2739"]]},{"id":"2216bc1f.341444","type":"debug","z":"68c48bee.e7d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":240,"wires":[]},{"id":"940419e9.ff0888","type":"watson-assistant-v2","z":"68c48bee.e7d6d4","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/9e93aaae-70fb-4212-a0a2-9547d65831de","assistant_id":"0af12964-6926-4449-85ae-73ba43b4516e","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":610,"y":340,"wires":[["596d0155.c0348"]]},{"id":"fae903fd.986ec","type":"function","z":"68c48bee.e7d6d4","name":"","func":"msg.params = {}\nmsg.params.session_id = \"fd2b4ea1-0f6c-46c4-9f77-819e1888e36e\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["940419e9.ff0888"]]},{"id":"596d0155.c0348","type":"function","z":"68c48bee.e7d6d4","name":"","func":"msg.payload=msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":400,"wires":[["93d63852.87e768","2216bc1f.341444"]]},{"id":"93d63852.87e768","type":"switch","z":"68c48bee.e7d6d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"value","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"onfan","vt":"str"},{"t":"eq","v":"onac","vt":"str"},{"t":"eq","v":"onlight","vt":"str"},{"t":"eq","v":"offfan","vt":"str"},{"t":"eq","v":"offac","vt":"str"},{"t":"eq","v":"offlight","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":450,"y":460,"wires":[["5d8eefa2.fb751"],["9f4dcbab.27a4b8"],["3f709ec8.bb0f82"],["3f709ec8.bb0f82"],["3f709ec8.bb0f82"],["3f709ec8.bb0f82"],["3f709ec8.bb0f82"],["3f709ec8.bb0f82"]]},{"id":"5d8eefa2.fb751","type":"function","z":"68c48bee.e7d6d4","name":"","func":"msg.payload = \" Todays Temperature is \"+ global.get('t') + \" degree Celsius\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[["202eb2a4.33736e"]]},{"id":"9f4dcbab.27a4b8","type":"function","z":"68c48bee.e7d6d4","name":"","func":"msg.payload = \" Todays humidity is \"+ global.get('h') + \" percentage\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":500,"wires":[["202eb2a4.33736e"]]},{"id":"3f709ec8.bb0f82","type":"function","z":"68c48bee.e7d6d4","name":"","func":"var m=msg.payload\n//msg.payload={\"command\":m}\nif (m=='onlight')\n      {  msg.payload=\"LIGHT ON IS RECEIVED\";}\nelse if (m=='offlight')\n        {msg.payload=\"LIGHT OFF IS RECEIVED\";}\nelse if (m=='offfan')\n        {msg.payload=\"FAN OFF IS RECEIVED\";}\nelse if (m=='onfan')\n        {msg.payload=\"FAN ON IS RECEIVED\";}\nelse if (m=='offAC')\n        {msg.payload=\"AC OFF IS RECEIVED\";}\nelse if (m=='onAC')\n     {msg.payload=\"LIGHT OFF IS RECEIVED\";}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":540,"wires":[["202eb2a4.33736e","72d4ad01.d5fa94","d69d267e.8f1a68"]]},{"id":"d69d267e.8f1a68","type":"ibmiot out","z":"68c48bee.e7d6d4","authentication":"apiKey","apiKey":"3ef12654.cf20ba","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home automation","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":620,"wires":[]},{"id":"9c03240a.e014a8","type":"ui_text_input","z":"68c48bee.e7d6d4","name":"","label":"enter the input","tooltip":"","group":"d352d429.7f97b8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","topicType":"str","x":440,"y":280,"wires":[["fae903fd.986ec"]]},{"id":"e37c9937.f5e088","type":"ui_button","z":"68c48bee.e7d6d4","name":"light on","group":"99be698f.bfebf8","order":7,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"light on\"}","payloadType":"json","topic":"topic","topicType":"msg","x":200,"y":200,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"4a08944f.13803c","type":"ui_button","z":"68c48bee.e7d6d4","name":"light off","group":"99be698f.bfebf8","order":8,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"light off\"}","payloadType":"json","topic":"topic","topicType":"msg","x":80,"y":240,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"5d7295e8.b025dc","type":"ui_button","z":"68c48bee.e7d6d4","name":"on AC","group":"99be698f.bfebf8","order":9,"width":0,"height":0,"passthru":false,"label":"on AC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"on AC\"}","payloadType":"json","topic":"topic","topicType":"msg","x":70,"y":280,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"e756d3e0.725d","type":"ui_button","z":"68c48bee.e7d6d4","name":"off AC","group":"99be698f.bfebf8","order":10,"width":0,"height":0,"passthru":false,"label":"off AC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off AC","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":320,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"8edd9c6a.6430f","type":"ui_button","z":"68c48bee.e7d6d4","name":"open the door","group":"99be698f.bfebf8","order":11,"width":0,"height":0,"passthru":false,"label":"open the door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"open the door\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":360,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"bfde4dac.ea8f3","type":"ui_button","z":"68c48bee.e7d6d4","name":"close the door","group":"99be698f.bfebf8","order":12,"width":0,"height":0,"passthru":false,"label":"close the door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"close the door\"}","payloadType":"json","topic":"topic","topicType":"msg","x":100,"y":400,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"f39e6b85.47a768","type":"ui_button","z":"68c48bee.e7d6d4","name":"on fan","group":"99be698f.bfebf8","order":13,"width":0,"height":0,"passthru":false,"label":"on fan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"on fan\"}","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":440,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"56c05435.a9e7ac","type":"ui_button","z":"68c48bee.e7d6d4","name":"off fan","group":"99be698f.bfebf8","order":14,"width":0,"height":0,"passthru":false,"label":"off fan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"off fan\"}","payloadType":"json","topic":"topic","topicType":"msg","x":110,"y":480,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"43fcd3ce.0180ac","type":"ui_button","z":"68c48bee.e7d6d4","name":"on fridge","group":"99be698f.bfebf8","order":15,"width":0,"height":0,"passthru":false,"label":"on fridge","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"on fridge\"}","payloadType":"json","topic":"topic","topicType":"msg","x":80,"y":520,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"2edaa078.9d7f6","type":"ui_button","z":"68c48bee.e7d6d4","name":"off fridge","group":"99be698f.bfebf8","order":16,"width":0,"height":0,"passthru":false,"label":"off fridge","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"off fridge\"}","payloadType":"json","topic":"topic","topicType":"msg","x":120,"y":560,"wires":[["bdb56192.3aad1","5b93ca6e.0f8ac4"]]},{"id":"bdb56192.3aad1","type":"ibmiot out","z":"68c48bee.e7d6d4","authentication":"apiKey","apiKey":"3ef12654.cf20ba","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home automation","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":280,"y":260,"wires":[]},{"id":"5b93ca6e.0f8ac4","type":"debug","z":"68c48bee.e7d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":360,"wires":[]},{"id":"4cc6f746.2fad28","type":"inject","z":"68c48bee.e7d6d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"What is the temperature","payloadType":"str","x":460,"y":220,"wires":[["fae903fd.986ec"]]},{"id":"fa43f454.a80b58","type":"ui_microphone","z":"68c48bee.e7d6d4","name":"","group":"d352d429.7f97b8","order":0,"width":0,"height":0,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":410,"y":140,"wires":[["1f31e685.2d2739"]]},{"id":"31dd4ad0.487f76","type":"ui_audio","z":"68c48bee.e7d6d4","name":"","group":"d352d429.7f97b8","voice":"","always":"","x":930,"y":460,"wires":[]},{"id":"72d4ad01.d5fa94","type":"debug","z":"68c48bee.e7d6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"bbb894d5.08ceb8","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"3enokg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3ef12654.cf20ba","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"3enokg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d352d429.7f97b8","type":"ui_group","name":"Default","tab":"dd7f1630.72fa38","order":1,"disp":true,"width":"6","collapse":false},{"id":"99be698f.bfebf8","type":"ui_group","name":"Default","tab":"ee7b676a.c6b298","order":1,"disp":true,"width":"6","collapse":false},{"id":"dd7f1630.72fa38","type":"ui_tab","name":"input","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee7b676a.c6b298","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]